<div id="nav-icon">
  <div class="icon" [ngClass]="{closed: !menuOpen, open: menuOpen}" (click)="toggleMenu();">
      <span></span>
      <span>Menu</span>
      <span></span>
  </div>
</div>

<nav [ngClass]="{closed: !menuOpen, open: menuOpen}">
  <ul>
    <li *ngFor="let item of menuItems" [routerLink]="[item.link]" [fragment]="item.fragment" routerLinkActive="active"
    (click)='toggleMenu()'>{{item.title}}</li>
  </ul>
  <div class="contact">
    <span class="phone"><span>(647) 201-4212</span></span>
    <span class="email"><span>Seehra.prabhjot@gmail.com</span></span>
  </div>
  <div class="social">
    <a class="linkedin" href="https://www.linkedin.com/in/prabhjot-seehra-238a0a17" target="_blank"><span>Facebook</span></a>
  </div>
</nav>

