<content-window sectionId="home"
[params]='{bgImg:"assets/images/home-bg.gif", bgColor:"#333333", bgPosition: "center", bgSize:"cover"}'>
  <div class="overlay"></div>
  <div class="landing-message">
    <span class="introTop">Prabhjot Seehra is
      <span class="introSlogan txt-rotate"
      data-period="1000"
      data-rotate='[ "professional.", "charismatic.", "bold.", "a strong leader!" ]'></span></span>
      <span class='introBottom'>
      </span>
  </div>
</content-window>
<content-window sectionId="intro"
[params]='{ bgColor:"#FFF"}'>
  <div class="introduction">
    <div class='left'>
      <div class='portrait'></div>
    </div>
    <div class='right'>
      <p>
        Magnis dis parturient montes nascetur ridiculus mus mauris vitae.
        Habitasse platea dictumst quisque sagittis purus. Ut tristique et egestas quis.
        Morbi tristique senectus et netus. Faucibus vitae aliquet nec ullamcorper sit.
        Ac tortor dignissim convallis aenean et tortor. Orci eu lobortis elementum nibh tellus.
        Sit amet nisl suscipit adipiscing. Neque vitae tempus quam pellentesque nec nam aliquam sem.
      </p>
      <p>
        Magnis dis parturient montes nascetur ridiculus mus mauris vitae.
        Habitasse platea dictumst quisque sagittis purus. Ut tristique et egestas quis.
        Morbi tristique senectus et netus. Faucibus vitae aliquet nec ullamcorper sit.
        Ac tortor dignissim convallis aenean et tortor. Orci eu lobortis elementum nibh tellus.
        Sit amet nisl suscipit adipiscing. Neque vitae tempus quam pellentesque nec nam aliquam sem.
      </p>
    </div>
  </div>
</content-window>
<content-window sectionId="endorsement"
[params]='{bgImg:"assets/images/home-bg.gif", bgColor:"#333333", bgPosition: "center", bgSize:"cover"}'>
  <div class="overlay"></div>
  <div class="endorsement_slider" >
    <div id='slider' stlye="">
      <div class="slide-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      <div class="slide-content">Magnis dis parturient montes nascetur ridiculus mus mauris vitae. Habitasse platea dictumst quisque sagittis purus. Ut tristique et egestas quis. Morbi tristique senectus et netus. Faucibus vitae aliquet nec ullamcorper sit. Ac tortor dignissim convallis aenean et tortor. Orci eu lobortis elementum nibh tellus. Sit amet nisl suscipit adipiscing. Neque vitae tempus quam pellentesque nec nam aliquam sem.</div>
      <div class="slide-content">Neque vitae tempus quam pellentesque nec nam aliquam sem.</div>
      <div class="slide-content"> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
  </div>
</content-window>
<content-window sectionId="skills"
[params]='{bgColor:"#FFF"}'>
  <div class='skills-content'>
    <h1>Skills</h1>
    <col-list></col-list>
  </div>
</content-window>
<content-window sectionId="history" sectionTitle="Previous Employers"
[params]='{bgImg:"assets/images/home-bg.gif", bgColor:"#333333", bgPosition: "center", bgSize:"cover"}'>
  <div class="overlay"></div>
  <div class='history-content'>
    <div class="img1"></div>
    <h1 class="title1">
      Toronto Dominion Bank
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h1 class="title2">
      Banga Studios
    </h1>
    <div class="img2"></div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</content-window>
